In [1]:
# pandas DataFrame

import pandas as pd

In [2]:
# voy a montar un dataframe con algunos discos de zappa del siguiente enlace

import webbrowser
website = 'https://es.wikipedia.org/wiki/Anexo:Discograf%C3%ADa_de_Frank_Zappa'
webbrowser.open(website)

True

In [3]:
# con esta instruccion guardo lo que tengo almacenado en el portapapeles a una variable
dataframe_zappa = pd.read_clipboard()

#veamos que contiene
dataframe_zappa

,#,Grabación,Título,Lanzamiento,Nota
0,16,1969-70,Chunga's Revenge,1970,Álbum de estudio #10
1,17,1971,200 Motels,1971,Álbum de estudio #11
2,18,1971,"Fillmore East, June 1971",1971,En vivo
3,19,1970-71,Playground Psychotics,1992,En vivo. Incluye parte del mítico concierto co...
4,20,1971,Carnegie Hall,2011,En vivo

In [4]:
# puedo acceder al nombre de las columnas
dataframe_zappa.columns

Index(['#', 'Grabación', 'Título', 'Lanzamiento', 'Nota'], dtype='object')

In [5]:
# y obtener los valores de una determinada columna
dataframe_zappa['Título']

0            Chunga's Revenge
1                  200 Motels
2    Fillmore East, June 1971
3       Playground Psychotics
4               Carnegie Hall
Name: Título, dtype: object

In [6]:
# en este caso el dataframe es pequeño, pero podriamos
# querer ver solo los dos primeros registros

dataframe_zappa.head(2)

    # Grabación            Título  Lanzamiento                  Nota
0  16   1969-70  Chunga's Revenge         1970  Álbum de estudio #10
1  17      1971        200 Motels         1971  Álbum de estudio #11

In [7]:
# o los dos últimos
dataframe_zappa.tail(2)

,#,Grabación,Título,Lanzamiento,Nota
3,19,1970-71,Playground Psychotics,1992,En vivo. Incluye parte del mítico concierto co...
4,20,1971,Carnegie Hall,2011,En vivo

In [8]:
# Como creamos nuestro DataFrame? por ejemplo con dos listas y un diccionario

lista_materias = ['mates','historia','fisica']
notas = [7,8,9]
dic = {'Asignaturas':lista_materias, 'notas':notas}

dataframe_notas = pd.DataFrame(dic)
dataframe_notas

  Asignaturas  notas
0       mates      7
1    historia      8
2      fisica      9

In [9]:
### Con index indicamos cual es la lista de indices

valores = [1,2,3]
indices = ['a','b','c']

serie = pd.Series(valores, index=indices)

serie.index[2]

'c'

In [10]:
# y con columns la lista de columnas
valores = [[1,2,3],[2,5,8],[5,8,3]]
indices = ['mates','historia','fisica']
nombres = ['pablo','pedro','pepe']

df = pd.DataFrame(valores, index=indices,columns=nombres)

df

          pablo  pedro  pepe
mates         1      2     3
historia      2      5     8
fisica        5      8     3

In [11]:
# si queremos conocer los índices
df.index

Index(['mates', 'historia', 'fisica'], dtype='object')

In [12]:
# Eliminar elementos en series y dataframes

import pandas as pd
import numpy as np

valores = np.arange(9).reshape(3,3)
indices = ['a','b','c']
columnas = ['c1','c2','c3']

df = pd.DataFrame(valores, index=indices, columns=columnas)
df

   c1  c2  c3
a   0   1   2
b   3   4   5
c   6   7   8

In [13]:
# podemos eliminar todo un indice

df.drop('c')

   c1  c2  c3
a   0   1   2
b   3   4   5

In [14]:
# o toda una columna

df.drop('c3',axis=1)

   c1  c2
a   0   1
b   3   4
c   6   7

In [15]:
# pero si queremos que los cambios sean permanentes tedremos que declararlo

df = df.drop('b')
df

   c1  c2  c3
a   0   1   2
c   6   7   8

In [16]:
# Seleccionando datos en las series
import pandas as pd
import numpy as np

In [17]:
valores = np.arange(3)
indices = ['i1','i2','i3']

serie = pd.Series(valores, index=indices)

In [18]:
serie['i2']*4
serie[0:2]-10
serie[serie > 3] =  9
serie['i1':'i3']+6

i1    6
i2    7
i3    8
dtype: int32

In [19]:
serie

i1    0
i2    1
i3    2
dtype: int32

In [20]:

serie

i1    0
i2    1
i3    2
dtype: int32