In [1]:
# 46 Seleccionando entradas para DataFrames

import pandas as pd
import numpy as np

indices = ['I','II','III','IV','V']
columnas = ['A','B','C','D','E'] 

valores = np.arange(25).reshape(5,5)

dataframe = pd.DataFrame(valores, index=indices, columns=columnas)
dataframe

      A   B   C   D   E
I     0   1   2   3   4
II    5   6   7   8   9
III  10  11  12  13  14
IV   15  16  17  18  19
V    20  21  22  23  24

In [2]:
# podemos ver los valores de una determinada columna
dataframe['C']

I       2
II      7
III    12
IV     17
V      22
Name: C, dtype: int32

In [3]:
# o acceder a un valor desde su columna
dataframe['B']['IV']

16

In [4]:
#si queremos acceder desde el indice tenemos que emplear loc
dataframe.loc['IV']['B']

16

In [5]:
# podemos filtrar las columnas a ver
dataframe[['A','D']]

      A   D
I     0   3
II    5   8
III  10  13
IV   15  18
V    20  23

In [6]:
# podemos ver registros filtrando columnas con comparadores
dataframe[dataframe['C'] > 15]

     A   B   C   D   E
IV  15  16  17  18  19
V   20  21  22  23  24

In [7]:
# comprobar condiciones
dataframe > 12

         A      B      C      D      E
I    False  False  False  False  False
II   False  False  False  False  False
III  False  False  False   True   True
IV    True   True   True   True   True
V     True   True   True   True   True