In [1]:
# 47 operaciones sobre series y dataframes
# problemas cuando no tienen el mismo shape

In [2]:
import pandas as pd
import numpy as np

serie1 = pd.Series([0,1,2], index=['A','B','C'])
serie2 = pd.Series([3,4,5,6], index=['A','B','C','D'])

In [3]:
# como la serie1 no tiene indice D obtenemos un NaN
serie1 + serie2

A    3.0
B    5.0
C    7.0
D    NaN
dtype: float64

In [4]:
valores = np.arange(4).reshape(2,2)
indices = list('12')
columnas= list('AB')
dataframe1 = pd.DataFrame(valores, index=indices, columns=columnas)

valores2 = np.arange(9).reshape(3,3)
indices2 = list('123')
columnas2= list('ABC')
dataframe2 = pd.DataFrame(valores2, index=indices2, columns=columnas2)

dataframe3 = dataframe1 + dataframe2
dataframe3

     A    B   C
1  0.0  2.0 NaN
2  5.0  7.0 NaN
3  NaN  NaN NaN

In [5]:
# NaN no es un numero
dataframe3[dataframe3 >= 0]

     A    B   C
1  0.0  2.0 NaN
2  5.0  7.0 NaN
3  NaN  NaN NaN

In [6]:
# una manera de solucionar esto es ordenar que el dataframe rellene con ceros las celdas vac√≠as
dataframe1.add(dataframe2,fill_value=0)

     A    B    C
1  0.0  2.0  2.0
2  5.0  7.0  5.0
3  6.0  7.0  8.0