In [1]:
# 48 Ordenar y clasificar series

In [2]:
import pandas as pd
import numpy as np

In [3]:
# vamos a generar una serie con valores aleatorios
serie = pd.Series(np.random.randn(10))
serie

0    0.540579
1    0.775565
2   -1.006806
3   -0.348803
4   -2.327402
5   -0.120078
6    0.092824
7   -1.905905
8    0.170222
9   -0.631504
dtype: float64

In [4]:
# con rank() obtenemos un ranking de menor a mayor
serie.rank()

0     9.0
1    10.0
2     3.0
3     5.0
4     1.0
5     6.0
6     7.0
7     2.0
8     8.0
9     4.0
dtype: float64

In [5]:
# sort() nos ordena los valores
serie.sort_values()

4   -2.327402
7   -1.905905
2   -1.006806
9   -0.631504
3   -0.348803
5   -0.120078
6    0.092824
8    0.170222
0    0.540579
1    0.775565
dtype: float64

In [6]:
# mientras que index() nos muestra la serie inicial
serie.sort_index()

0    0.540579
1    0.775565
2   -1.006806
3   -0.348803
4   -2.327402
5   -0.120078
6    0.092824
7   -1.905905
8    0.170222
9   -0.631504
dtype: float64

In [7]:
# Estadñisticas en dataframes

import pandas as pd
import numpy as np

array = np.array([[3,8,6],[9,6,2]])

dataframe = pd.DataFrame(array, index=['I','II'], columns=list('ABC'))
dataframe

    A  B  C
I   3  8  6
II  9  6  2

In [8]:
# podemos sumar los valores en vertical de las columnas
print(dataframe.sum())

# o en horizontal de las filas indicando el axis
dataframe.sum(axis=1)

A    12
B    14
C     8
dtype: int64

I     17
II    17
dtype: int64

In [9]:
# calcular el minino...
print(dataframe.min())

dataframe.min(axis=1)

A    3
B    6
C    2
dtype: int32

I     3
II    2
dtype: int32

In [10]:
# maximo...
print(dataframe.max())

dataframe.max(axis=1)

A    9
B    8
C    6
dtype: int32

I     8
II    9
dtype: int32

In [11]:
# menor valor en cada columna... etc
print(dataframe.idxmin())

A     I
B    II
C    II
dtype: object

In [12]:
# uno de los métodos más útiles es el describe
dataframe.describe()

# count = numero de elementos
# mean = media
# std = desviación típica

              A         B         C
count  2.000000  2.000000  2.000000
mean   6.000000  7.000000  4.000000
std    4.242641  1.414214  2.828427
min    3.000000  6.000000  2.000000
25%    4.500000  6.500000  3.000000
50%    6.000000  7.000000  4.000000
75%    7.500000  7.500000  5.000000
max    9.000000  8.000000  6.000000