In [ ]:
# 49 Valores Nulos - NaN

In [ ]:
import pandas as pd
import numpy as np

valores = ['1','2',np.nan,'4']
serie = pd.Series(valores, index=list('ABCD'))

In [ ]:
# Como vemos C tiene valor nulo
serie

In [ ]:
# podemos verificar los nulos de toda la serie
serie.isnull()

In [ ]:
# Eliminar valores nulos
serie.dropna()

In [ ]:
# vamos a ver como funciona en un dataframe

valores2 = [[1,2,3],[4,np.nan,5],[6,7,np.nan]]
indices2 = list('123')
columnas2 = list('ABC')
dataframe = pd.DataFrame(valores2, index=indices2, columns=columnas2)

dataframe.isnull()

In [ ]:
dataframe

In [ ]:
# Como veis se carga cualquier indice que tenga nulos
dataframe.dropna()

In [ ]:
# podemos rellenar los nulos con un 0 por ejemplo
dataframe.fillna(0)

In [1]:
# jerarquía en los índices

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Aqui vemos una serie con dos índices

valores = np.random.rand(6)
indices = [[1,1,1,2,2,2],list('ABCABC')]

serie = pd.Series(valores, index=indices)
serie

1  A    0.008193
   B    0.960456
   C    0.772167
2  A    0.242989
   B    0.729503
   C    0.271735
dtype: float64

In [4]:
# podemos acceder a todo el indice 1 por ejemplo

serie[1]

A    0.008193
B    0.960456
C    0.772167
dtype: float64

In [5]:
# o a un valor concreto del indice 2
serie[2]['B']

0.7295033027451628

In [6]:
# con unstack podemos dividir los indices e un dataframe
dataframe = serie.unstack()
dataframe

          A         B         C
1  0.008193  0.960456  0.772167
2  0.242989  0.729503  0.271735

In [7]:
# y viceversa

valores = np.arange(16).reshape(4,4)
indices = list('1234')
columnas = list('ABCD')
dataframe = pd.DataFrame(valores, index=indices, columns=columnas)
dataframe

    A   B   C   D
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [8]:
serie2 = dataframe.stack()
serie2

1  A     0
   B     1
   C     2
   D     3
2  A     4
   B     5
   C     6
   D     7
3  A     8
   B     9
   C    10
   D    11
4  A    12
   B    13
   C    14
   D    15
dtype: int32