In [1]:
# 51 html con python

In [1]:
# voy a capturar una tabla de informacion de una página web

import pandas as pd

url = 'https://es.wikipedia.org/wiki/Akira_Kurosawa'

In [2]:
df_Kurosawa = pd.io.html.read_html(url)
df_Kurosawa

[    0                                                  1
 0 NaN  Este artículo tiene referencias, pero necesita...,
                 Akira Kurosawa  \
 0       Akira Kurosawa en 1953
 1         Información personal
 2         Nombre de nacimiento
 3            Nombre en japonés
 4                Otros nombres
 5                   Nacimiento
 6                Fallecimiento
 7           Causa de la muerte
 8                   Residencia
 9                 Nacionalidad
 10              Lengua materna
 11                     Familia
 12                     Cónyuge
 13                       Hijos
 14     Información profesional
 15                   Ocupación
 16                 Años activo
 17                   Seudónimo
 18              Obras notables
 19                  Miembro de
 20  [editar datos en Wikidata]

                                      Akira Kurosawa.1  \
 0                              Akira Kurosawa en 1953
 1                                Información personal
 2                                      Kurosawa Akira
 3                                                 黒澤明
 4                                        El Emperador
 5               23 de marzo de 1910 Shinagawa (Japón)
 6   6 de septiembre de 1998 (88 años)Setagaya (Japón)
 7                                    Derrame cerebral
 8                                               Japón
 9                                            Japonesa
 10                                            Japonés
 11                                            Familia
 12                           Yōko Yaguchi (1945-1985)
 13                                        KazukoHisao
 14                            Información profesional
 15  Director de cine, productor de cine, guionista...
 16                                          1936-1993
 17                                                 AK
 18  La fortaleza escondidaRashōmonLos siete samurá...
 19  Academia Estadounidense de las Artes y las Cie...
 20                         [editar datos en Wikidata]

                                      Akira Kurosawa.2
 0                              Akira Kurosawa en 1953
 1                                Información personal
 2                                      Kurosawa Akira
 3                                                 黒澤明
 4                                        El Emperador
 5               23 de marzo de 1910 Shinagawa (Japón)
 6   6 de septiembre de 1998 (88 años)Setagaya (Japón)
 7                                    Derrame cerebral
 8                                               Japón
 9                                            Japonesa
 10                                            Japonés
 11                                            Familia
 12                           Yōko Yaguchi (1945-1985)
 13                                        KazukoHisao
 14                            Información profesional
 15  Director de cine, productor de cine, guionista...
 16                                          1936-1993
 17                                                 AK
 18  La fortaleza escondidaRashōmonLos siete samurá...
 19  Academia Estadounidense de las Artes y las Cie...
 20                         [editar datos en Wikidata]  ,
     Año                             Categoría          Película  Resultado
 0  1951  Óscar a la mejor película extranjera          Rashōmon    Ganador
 1  1975  Óscar a la mejor película extranjera       Dersu Uzala    Ganador
 2  1985               Óscar al mejor director               Ran  Candidato
 3  1990                      Óscar Honorífico  Óscar Honorífico    Ganador,
                         0                                                  1
 0  Control de autoridades  Proyectos Wikimedia  Datos: Q8006  Multimedia:...]

In [3]:
# La tabla a la que quiero acceder en realidad esta en el indice 2

df_KurosawaPremios = df_Kurosawa[2]
df_KurosawaPremios

    Año                             Categoría          Película  Resultado
0  1951  Óscar a la mejor película extranjera          Rashōmon    Ganador
1  1975  Óscar a la mejor película extranjera       Dersu Uzala    Ganador
2  1985               Óscar al mejor director               Ran  Candidato
3  1990                      Óscar Honorífico  Óscar Honorífico    Ganador

In [4]:
# Pero puede darse el caso de que el dataframe de la pagina nos devuelva así la información

In [5]:
valores = [['Nombre','Edad','Profesión'],
           ['Ricardo Borriquero',13,'Niño Rata'],
           ['Benito Camelas',37,'Pelotari'],
           ['Carmelo Cottón',42,'Contemplador']]
df = pd.DataFrame(valores, index=list(range(4)), columns=list(range(3)))
df

                    0     1             2
0              Nombre  Edad     Profesión
1  Ricardo Borriquero    13     Niño Rata
2      Benito Camelas    37      Pelotari
3      Carmelo Cottón    42  Contemplador

In [6]:
# Cómo hacemos para que los valores del índice 0 pasen a ser los nombres de las columnas?
# localizamos el indice y lo convertimos en un dicionario para que tenga clave y valor.

dict(df.loc[0])

{0: 'Nombre', 1: 'Edad', 2: 'Profesión'}

In [7]:
# ahora ya si podemos cambiar el nombre a las columnas

df = df.rename(columns=dict(df.loc[0]))
df

               Nombre  Edad     Profesión
0              Nombre  Edad     Profesión
1  Ricardo Borriquero    13     Niño Rata
2      Benito Camelas    37      Pelotari
3      Carmelo Cottón    42  Contemplador

In [8]:
# Habrá que recoger los restos...

df = df.drop(0)
df

               Nombre Edad     Profesión
1  Ricardo Borriquero   13     Niño Rata
2      Benito Camelas   37      Pelotari
3      Carmelo Cottón   42  Contemplador