In [1]:
# 49 Valores Nulos - NaN

In [2]:
import pandas as pd
import numpy as np

valores = ['1','2',np.nan,'4']
serie = pd.Series(valores, index=list('ABCD'))

In [3]:
serie

A      1
B      2
C    NaN
D      4
dtype: object

In [5]:
serie.isnull()

A    False
B    False
C     True
D    False
dtype: bool

In [6]:
serie.dropna()

A    1
B    2
D    4
dtype: object

In [10]:
valores2 = [[1,2,3],[4,np.nan,5],[6,7,np.nan]]
indices2 = list('123')
columnas2 = list('ABC')
dataframe = pd.DataFrame(valores2, index=indices2, columns=columnas2)

In [11]:
dataframe

   A    B    C
1  1  2.0  3.0
2  4  NaN  5.0
3  6  7.0  NaN

In [12]:
dataframe.isnull()

       A      B      C
1  False  False  False
2  False   True  False
3  False  False   True

In [13]:
dataframe.dropna()

   A    B    C
1  1  2.0  3.0

In [15]:
dataframe.fillna(0)

   A    B    C
1  1  2.0  3.0
2  4  0.0  5.0
3  6  7.0  0.0

In [16]:
# jerarquía en los índices

In [17]:
import pandas as pd
import numpy as np

In [28]:
valores = np.random.rand(6)
indices = [[1,1,1,2,2,2],list('ABCABC')]
indices

[[1, 1, 1, 2, 2, 2], ['A', 'B', 'C', 'A', 'B', 'C']]

In [29]:
serie = pd.Series(valores, index=indices)
serie

1  A    0.497034
   B    0.995348
   C    0.592451
2  A    0.351516
   B    0.982852
   C    0.027034
dtype: float64

In [30]:
serie[1]

A    0.497034
B    0.995348
C    0.592451
dtype: float64

In [31]:
serie[2]['B']

0.9828522221444368

In [34]:
dataframe = serie.unstack()
dataframe

          A         B         C
1  0.497034  0.995348  0.592451
2  0.351516  0.982852  0.027034

In [35]:
valores = np.arange(16).reshape(4,4)
valores

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [36]:
indices = list('1234')
columnas = list('ABCD')
dataframe = pd.DataFrame(valores, index=indices, columns=columnas)
dataframe

    A   B   C   D
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [37]:
serie2 = dataframe.stack()

In [38]:
serie2

1  A     0
   B     1
   C     2
   D     3
2  A     4
   B     5
   C     6
   D     7
3  A     8
   B     9
   C    10
   D    11
4  A    12
   B    13
   C    14
   D    15
dtype: int32